 <table>
  <tbody>
    <tr>
      <td>City</td>
      <td>{{ state.city }}</td>
    </tr>
    <tr>
      <td>Admin</td>
      <td>{{state.admin}}</td>
    </tr>
    <tr>
      <td>Country</td>
      <td>{{state.country}}</td>
    </tr>
    <tr>
      <td>Population_proper</td>
      <td>{{state.population_proper}}</td>
    </tr>
    <tr>
      <td>ISo2</td>
      <td>{{state.iso2}}</td>
    </tr>
    <tr>
      <td>Capital</td>
      <td>{{state.capital}}</td>
    </tr>
    <tr>
      <td>LAT</td>
      <td>{{state.lat}}</td>
    </tr>
    <tr>
      <td>LNG</td>
      <td>{{state.lng}}</td>
    </tr>
    <tr>
      <td>Population</td>
      <td>{{state.population}}</td>
    </tr>
  </tbody>
</table>
<input type="button" (click)='onButtonClick()' value="Back to StateList"/>
<!-- <button (click)="onButtonClick()">Back to StateList</button> -->