<table>
    <tr>
        <th>Name</th>
        <th>Age:</th>
        <th>Gender:</th>
        <th>EMailId:</th>
        <th>PhNo:</th>
    </tr>
    <tr>
        <td>{{profile.name}}</td>
        <td>{{profile.age}}</td>
        <td>{{profile.gender}}</td>
        <td>{{profile.mail}}</td>
        <td>{{profile.phno}}</td>
    </tr>
    </table>
<!-- <div><label>Name:</label>
{{profile.name}}</div>
<div><label>Age:</label>
{{profile.age}}</div>
<div><label>Gender:</label>
{{profile.gender}}</div>
<div><label>EMailId:</label>
{{profile.mail}}</div>
<div><label>PhNo:</label>
{{profile.phno}}</div> -->
        